<h2>Current Condition at <%= @game.currLoc %></h2>

<% if flash[:message] %>
  <p>
    <span class="error"><%= flash[:message] %></span>
  </p>
<% end %>

<p>
 Current Weather:
  <span class="weather"><%= @game.currWeather %></span>
</p>

<p>
 Temperature at Location:
  <span class="temp"><%= @game.currTemp %></span>
</p>

<p>
 Chance of Rain:
  <span class="rainChance"><%= @game.currRain %></span>
  %
</p>

<%= erb :new %>
