<h2>Guess a letter</h2>

<% if flash[:message] %>
  <p>
    <span class="error"><%= flash[:message] %></span>
  </p>
<% end %>

<p>
 Current Weather:
  <span class="weather"><%= @game.currWeather %></span>
</p>

<p>
 Temperature at Location:
  <span class="temp"><%= @game.currTemp %></span>
</p>

<p>
 Chance of Rain:
  <span class="rainChance"><%= @game.currRain %></span>
  %
</p>


<form action="/address" method="post">
  <input type="text" size="10" name="addr" autocomplete="off"/>
  <input type="submit" value="Address"/>
</form>

<%= erb :new %>
